
body {
	background-color: lightblue;
} 

h1 {
	font-family: sans-serif;
	font-size: 22px;
	font-weight: bold;
	text-align: center;
}

p {
	font-family: sans-serif;
	font-size: 18px;
	padding-right: 100px;
	padding-left: 100px;
	text-align: center;
}

div {
	text-align: center;
}

#button1 {
	text-decoration: none;
	background-color: ;
	font-size: 20px;
	padding: 6px 10px;
}


.buttons {
	text-decoration: none;
	background-color:;
	font-size: 20px;
}

img {
	height: 20px;
	width: 20px;
	position: absolute; 
}
